@model IEnumerable<Bueller.MVC.Models.Assignment>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.Teacher.FirstName)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Teacher.FirstName)
            </td>
            <td>
                @if (Request.Cookies["Role"].Value == "student")
                {
                    @Html.ActionLink("Add File | ", "AddFile", "File", new { AssignmentId = item.AssignmentId, StudentId = Request.Cookies["Id"].Value }, null)
                    @Html.ActionLink("View Files", "GetByIdStudent", "File", new {studentId = Request.Cookies["Id"].Value, assignmentId = item.AssignmentId}, null)
                }
                @if (Request.Cookies["Role"].Value == "teacher")
                {
                    @Html.ActionLink("View all Files | ", "Index", "File", null, null)
                    @Html.ActionLink("Delete", "Delete", new { id = item.AssignmentId })
                }
            </td>
        </tr>
    }

</table>
@if (Request.Cookies["Role"].Value == "teacher")
{
    <li>@Html.ActionLink("Create Assignment", "Create", "Assignment")</li>
}
